/* This targets the main parent div container */
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html {
  scroll-behavior: smooth;
}
.font-abel {
  font-family: "Abel", sans-serif;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}
.list-feat {
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
}

.feature-list {
  list-style: none;
  padding-left: 0;
  position: relative;
  width: 100%;
}
.feature-list li:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2%;
  width: 2px;
  background-color: #fff;
  transform: translateX(-50%);
  z-index: 0;
}

.feature-list li {
  display: flex;
  align-items: start;
  /* background-color: #ff7f32; */
  justify-content: start;
  /* margin-bottom: 30px; */
  position: relative;
}
